@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html class="no-js">
<head>

</head>
<body>
      <!--
    ==================================================
    Slider Section Start
    ================================================== -->
    <section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".2s">
                                <span>Bonjour, Voici notre application pour le projet d'amélioration de la chaine logistique d’une entreprise de e-commerce</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">DESIGNER</b>
                                    <b>MAKAN</b>
                                    <b>MELVIN</b>
                                    <b>WALTER</b>
                                    <b>JEAN</b>
                                </span>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                            Voici une ébauche du projet. Bonne navigation...
                        </h2>
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">Cliquer ici pour voir les modèles</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#main-slider-->
    <!--
    ==================================================
    About Section Start
    ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h2>
                            CONTEXTE
                        </h2>
                        <p>
                            Depuis quelques années la technologie RFID (Radio Frequency Identification) a été largement utilisée
                            dans le domaine de la logistique. Cette technologie permet de suivre la marchandise tout au long d’une
                            chaîne logistique par la mise en place de lecteurs qui interagissent avec des étiquettes RFID apposées
                            sur les articles. L’étiquette RFID possède un code EPC (Electronic Product Code) qui contient de
                            l’information propre à chaque article.
                        </p>

                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="images/about/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /#about -->
    <!--
    ==================================================
    Portfolio Section Start
    ================================================== -->
    <section id="works" class="works">


        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">La méthode analytique</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    Voici la méthode analytique créée par notre équipe <br> Vous pouvez ici vérifier par vous même que la cohérence de la méthode analytique
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                        <div class="img-wrapper">
                            <img src="images/lineareg.jpg" class="img-responsive" alt="this is a title" height="300" width="300">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="images/lineareg.jpg">Demo</a>
                                    <a target="_blank" asp-area="" asp-controller="Home" asp-action="Portfolio">Choisir</a>

                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    Regression linéaire
                                </a>
                            </h4>
                            <p>
                                Redesigne UI Concept
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="img-wrapper">
                            <img src="images/arbredec.png" class="img-responsive" alt="this is a title" height="300" width="300">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="images/arbredec.png">Demo</a>
                                    <a target="_blank" href="single-portfolio.html">Choisir</a>
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    Arbre de décision
                                </a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>




        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Les solutions</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    Voici les différents modèles <br> Vous pouvez choisir un modèle, l'appliquer sur vos données et analyser ses performances afin de voir si celui-ci vous convient
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                        <div class="img-wrapper">
                            <img src="images/lineareg.jpg" class="img-responsive" alt="this is a title" height="300" width="300">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="images/lineareg.jpg">Demo</a>
                                    <a target="_blank" href="single-portfolio.html">Choisir</a>
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    Regression linéaire
                                </a>
                            </h4>
                            <p>
                                Redesigne UI Concept
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="img-wrapper">
                            <img src="images/arbredec.png" class="img-responsive" alt="this is a title" height="300" width="300">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="images/arbredec.png">Demo</a>
                                    <a target="_blank" href="single-portfolio.html">Choisir</a>
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    Arbre de décision
                                </a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit.
                            </p>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="img-wrapper">
                            <img src="images/reglog.jfif" class="img-responsive" alt="" height="300" width="300">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="images/reglog.jfif">Demo</a>
                                    <a target="_blank" href="single-portfolio.html">Choisir</a>
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    Régression logistique
                                </a>
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </figcaption>
                    </figure>
                </div>



                <div class="col-sm-4 col-xs-12">
                    <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="img-wrapper">
                            <img src="images/clusth.png" class="img-responsive" alt="" height="300" width="300">
                            <div class="overlay">
                                <div class="buttons">
                                    <a rel="gallery" class="fancybox" href="images/clusth.png">Demo</a>
                                    <a target="_blank" href="single-portfolio.html">Choisir</a>
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h4>
                                <a href="#">
                                    Clustering hierarchique
                                </a>
                            </h4>
                            <p>
                                Lorem ipsum dolor.
                            </p>
                        </figcaption>
                    </figure>
                </div>


            </div>
        </div>
    </section> <!-- #works -->
    <!--
    ==================================================
    Portfolio Section Start
    ================================================== -->
    <section id="feature">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Ce que vous offrent les modèles</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,<br> quasi dolores numquam dolor vero ex, tempora commodi repellendus quod laborum.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-ios-flask-outline"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Des scores</h4>
                            <p>Permettant d'évaluer la fiabilité globale du modèle</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-ios-lightbulb-outline"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Des matrices de confusions</h4>
                            <p>Permettant d'analyser en détails les vraix positifs,faux positifs...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-ios-lightbulb-outline"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Une description du modèle</h4>
                            <p>Savoir sur quels principes repose le modèle</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- /#feature -->
    <!--
    ==================================================
    Call To Action Section Start
    ================================================== -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                            Un problème avec notre programme ?</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Contactez par mail ou téléphone notre support technique</p>
                            <a href="" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contactez-nous</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
  

  