<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="favicon.ico">
    <title>Projet S8</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projetbdtnS8</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/projetbdtnS8.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>

       <!--
    ==================================================
    Header Section Start
    ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
<<<<<<< HEAD
                        <a target="_blank" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logoesigelec.png" alt=""  width="100">
=======
                        <a href="index.html" >
                            <img src="images/logoesigelec.png" alt=""  width="100">
>>>>>>> d3e1ba6cf658bbcc749ed31b80c3d754c29cdab4
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
<<<<<<< HEAD
                                <a target="_blank" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            
=======
                                <a href="index.html" >Home</a>
                            
                            <li><a href="">Déconnexion</a></li>
>>>>>>> d3e1ba6cf658bbcc749ed31b80c3d754c29cdab4
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        

    <div class="container2">
        <main role="main" class="pb-3">
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - projetbdtnS8 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a target="_blank" asp-area="" asp-controller="Home" asp-action="Singleportfolio">Choisir</a>
            <a target="_blank" asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
